{% extends 'base.html' %}

{% block head %}
<title>Stocks</title>
{% endblock %}

{%block body%}

<div id="header">
  <h1>INDIREX</h1>
</div>

<form action="/chart" method="POST">
  List stocks: <input id="list_stock" name="list_stock" type="text"><br>
  Rebalance_period: <input id="rebalance" name="rebalance" type="text">
  <!-- <input type="submit" id="stockbtn" value="Go"> -->
<!-- </form> -->

<div>
  <!-- <form action="/chart" method="GET"> -->
    <button id="stockbtn" name="forwardBtn" type="submit">Get chart</button><br>
  <!-- </form> -->
</div>

<div>
  <p id="response"></p>
</div>

<div>
  {% if 'p' in chart_data %}
    {{ data['p'] }}
  {% endif %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script>
  $(document).ready(function() {
  
    $('#stockbtn').click(function() {
      const data={
        tickers: $('#list_stock').val(),
        Rebalance_period: $('#rebalance').val() 
      }
      $.post('http://localhost:5000/chart', data, function(data){
        // console.log(`${data} and status is ${status}`)
        console.log(data)
        // $('#response').html(data); 

        // $.each( data, function( key, value ) {
        //   $('#response').text(value);
        // })
      })
    })
  })
</script>

{% endblock %}